<nav class="menu-bar" style="padding: 1rem; background: #eee; display: flex; gap: 1rem;">
  <a routerLink="/graph/main" routerLinkActive="active">Graph Main</a>
</nav>

<router-outlet></router-outlet>

<!-- Let's add some buttons -->
  <div style="text-align: left; margin-top: 1rem;">

    <button class = "button big-btn" onclick="document.getElementById('analyse').style.display='block'">Analyse</button>
    <div id="analyse">
    <div class="analyse-content">
      <p>Analyse Möglichkeiten:</p>
       <input id="default" type="checkbox" />
       <label for="default" class="checkbox-text">Standard</label>

       <input id="fft" type="checkbox" />
       <label for="fft" class="checkbox-text">FFT</label>

       <input id="cross" type="checkbox" />
       <label for="cross" class="checkbox-text">Kreuzkorrelation</label>

       <input id="stft" type="checkbox" />
       <label for="stft" class="checkbox-text">STFT</label>

        <button onclick="document.getElementById('analyse').style.display='none'">Schließen</button>
        <button onclick="document.getElementById('analyse').style.display='none'">Anwenden</button>
      </div>
    </div>

    <button id="btn_pause" class="button big-btn" onclick="window.pauseGraph()">Pause</button>
    <button class="button big-btn">Speichern</button>
    <button class="button big-btn">Logger</button>
    <button class="button big-btn">Scope (de)aktivieren</button>

    <button class="button big-btn" onclick="document.getElementById('info').style.display='block'">Info</button>
    <div id="info">
      <div class="info-content">

        <p>Welche Informationen würden Sie gerne einsehen?</p>

        <input id="abtast" type="checkbox" />
        <label for="abtast" class="checkbox-text">Abtastrate</label>

        <input id="proj-info" type="checkbox" />
        <label for="proj-info" class="checkbox-text">Projekt Info</label>

        <input id="mousePos" type="checkbox" />
        <label for="mousePos" class="checkbox-text">Position der Maus</label>

        <button onclick="document.getElementById('info').style.display='none'">Schließen</button>
        <button (click)="anwenden()">Anwenden</button>
      </div>
    </div>
  </div>

<app-info-box></app-info-box>

